{% extends 'register/base.html' %}
{% block content %}
    <div class="container">
      <button type="button" class="btn btn-primary">
        Notifications <span class="badge badge-light">4</span>
      </button>
         <div class="sign-up container-fluid">
          <!-- {%url 'user-signin'%} -->
           <form action="" method="post">
               {% csrf_token %}
             <div class="form-header">
             </div>
             <div class="form-content">
              <div class="triangle-down"></div>
              <h4>Sign up</h4>
              {% if user %}
              {%endif%}
               <div class="input-group">
                 <input type="text" name="username" 
                        autocomplete="off" required value="{{user.username}}">
                 <label for="username">Username</label>
               </div>
               <div class="input-group">
                 <input type="email" name="email" 
                        autocomplete="off" required value="{{user.email}}" >
                 <label for="email">Email Address</label>
               </div>
               <div class="input-group">
                 <input type="password" name="password" 
                        autocomplete="off" required>
                 <label for="password">Password</label>
               </div>
               <div class="input-group">
                 <input type="password" name="passwordConf" 
                        autocomplete="off" required>
                 <label for="passwordConf">Confirm Password</label>
               </div>
               <div class="input-action">
                 <input type="submit">
               </div>
             </div>
             <div class="form-footer">
               <p>Already have an account? 
                 <a href="{%url 'user-signin' %}">Login here!</a></p>
             </div>
           </form>
        </div>
        
      </div>  
{% endblock content %}